@import url('http://fonts.googleapis.com/css?family=Dosis|Bree+Serif|Merriweather+Sans');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.background-image {
  background-image: url("./../data/images/travels/background2.png");
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  left:0px;
  width: 100%;


  h1 {
    font-family: $font-title;
    font-size: 4.5vmax;
    color: #ffffff;
    text-align: center;
    padding-top: 125px;
  }

  h2 {
    font-family: $font-title;
    font-size: 3vmax;
    color: #ffffff;
    text-align: center;
    padding-bottom: 125px;
  }
}

.travels {
  text-align: center;
  padding: 100px 0px;

  background-image: url("./../data/images/travels/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.about{
  background-color: #777777;
  h2 {
    font-family: $font-title;
    font-size: 2em;
    color: #ffffff;
    text-align: center;
  }

  h3 {
    font-family: $font-para;
    font-size: 0.5em;
    font-style: italic;
    color: #ffffff;
    text-align: center;
  }
}

.about-container {
  margin: 13% 0%;
  color: #f0f0f0;
  text-align: center;

  h2 {
    margin-top: 35px;
  }

  h3 {
    color: #f0f0f0;
    font-size: 1.5em;
  }
}

h1{
  font-family: $font-title;
  font-size: 3.7em;
  color: #000000;
  text-align: center;
}

.future{
  h1{
    color: #545454;
  }
}

.park-slider{
  background-color: #a5a5a5;
  p{
    color: #f0f0f0;
    font-size: 2em;
    text-align: center;
  }

  h1{
    color: #f5f5f5;
  }
}

p{
  font-family: $font-para;
  font-size: 2em;
}

body {
  background-color: #f3f3f3;
}

.colored {
  background-color: #dadada;
}

.future {
  background-color: #f5f5f5;
  p{
    font-size: 1.6em;
  }
}

.parkSlide {
  width: 637px;
  height: 477px;
}

.footer-contact {
  h1{
    color: #f0f0f0
  }

  a{
    color: #f0f0f0
  }

  margin-top: 10px;
  background-color: #a5a5a5;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #f0f0f0;
}
