<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Matt Wallick - Life and Travels</title>
	<script src="./lib/angular/angular.min.js"></script>
	<script src="./lib/angular-route/angular-route.min.js"></script>
	<script src="./js/controllers.js"></script>
	<script src="./js/app.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./foundation/css/foundation.css">
	<link rel="stylesheet" href="./css/styles.css">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>


<body ng-app="ballparkApp" ng-controller="parksSliderController">

<div class="fixed contain-to-grid">
	<nav class="top-bar nav-bar-large" data-topbar="">

		<ul class="title-area">
			<li class="name">
				<h1><a href="#">MATT WALLICK</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<ul class="right">
				<li><a data-scroll="" href="#about-anchor" id="about-link">About</a></li>
				<li><a data-scroll="" href="#travels-anchor" id="travels-link">Travels</a></li>
				<li><a data-scroll="" href="#future-anchor" id="future-link">Future</a></li>
				<li><a data-scroll="" href="#contact-anchor" id="contact-link">Contact</a></li>
			</ul>
		</section>
	</nav>
</div>

<div class="background-image">
	<div class="row heading">
		<div class="large-12 columns text-center">
			<h1>MATT WALLICK</h1>
			<h2>Life and Travels</h2>
		</div>
	</div>
</div>

<span id="about-anchor" name="about"></span>
<div class="about">
	<div class="row display">
		<div class="small-4 columns about-container">
			<i class="fa fa-anchor fa-5x"></i>
			<h2>Amateur Sea Adventurer</h2>
			<h3>Bass Fisherman</h3>
		</div>
		<div class="small-4 columns about-container">
			<i class="fa fa-briefcase fa-5x"></i>
			<h2>Software Developer</h2>
			<h3>Ultimate Software</h3>
		</div>
		<div class="small-4 columns about-container">
			<i class="fa fa-camera fa-5x"></i>
			<h2>Amateur Photographer</h2>
			<h3>Man with Smartphone</h3>
		</div>
	</div>
</div>

<span id="travels-anchor" name="travels"></span>
<div class="travels">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="panel">
					<div class="row">
						<h1>TRAVELS</h1>
					</div>
					<div class="row">
						<ul class="large-block-grid-3" id="travel-gallery">
							<li value="View of the Atlantic over the Seven Mile Bridge to Key West">
								<a class="th">
									<img src="./data/images/travels/img1.jpg" id="img1">
								</a>
							</li>
							<li value="Sculpture outside the Key West Art Museum">
								<a class="th">
									<img src="./data/images/travels/img2.jpg" id="img2">
								</a>
							</li>
							<li value="Decommissioned Coast Guard ship converted to a tourist museum">
								<a class="th">
									<img src="./data/images/travels/img3.jpg" id="img3">
								</a>
							</li>
							<li value="View of the Gulf of Mexico from Marco Island">
								<a class="th">
									<img src="./data/images/travels/img4.jpg" id="img4">
								</a>
							</li>
							<li value="Original creators of the key lime pie">
								<a class="th">
									<img src="./data/images/travels/img5.jpg" id="img5">
								</a>
							</li>
							<li value="End of Route 1, running from Maine to Key West">
								<a class="th">
									<img src="./data/images/travels/img6.jpg" id="img6">
								</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="large-offset-3 large-6 columns">
							<a class="th" onclick="$('#vidModal').foundation('reveal','open');">
								<img src="./data/images/travels/sevenmile.png">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<span id="future-anchor" name="future"></span>
<div class="future">
	<div class="row">
		<div class="large-12 columns" >
			<div class="row text-center">
				<h1>Future Plans</h1><br><br>
				<p>Like many sports enthusiasts, my next prospective goal is to visit each Major League ballpark.</p><br><br>
			</div>
			<div class="row">
				<div class="large-8 large-offset-2 columns">
					<div class="panel park-slider">
						<ul data-orbit>
							<li ng-repeat="park in ballparks">
								<img class="parkSlide" ng-src="./data/images/ballparks/{{park.imgSrc}}" height="500px" width="700px">
								<div class="orbit-caption">
									<h1>{{park.name}}</h1>
									<p>{{park.team}}</p>
									<p>{{park.location}}, {{park.opened}}</p>
									<p>Capacity {{park.capacity}}</p>
								</div>
							</li>
						</ul>
						<p>Images courtesy of Wikipedia.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<span id="contact-anchor" name="contact"></span>
<footer>
	<div class="footer-contact">
		<h1>Contact</h1><br>
		<div class="row">
			<div class="small-6 small-offset-3">
				<div class="row">
					<div class="small-4 columns">
						<a href="http://www.facebook.com/" target="_blank" class="fa fa-facebook-square fa-3x"></a>
					</div>
					<div class="small-4 columns">
						<a href="http://www.twitter.com/" target="_blank" class="fa fa-twitter-square fa-3x"></a>
					</div>
					<div class="small-4 columns">
						<a href="http://www.plus.google.com/" target="_blank" class="fa fa-google-plus-square fa-3x"></a>
					</div>
				</div>
			</div>
		</div>
		<br><p>Copyright 2015 Matt Wallick</p>
	</div>
</footer>

<div id="imgModal" class="reveal-modal small" data-reveal>
	<a class="close-reveal-modal">×</a>
	<img id="modal-img" src="./data/images/travels/img1.jpg">
	<p class="text-center" id="modal-text"></p>
</div>

<div id="vidModal" class="reveal-modal medium" data-reveal>
	<a class="close-reveal-modal">×</a>
	<video controls>
		<source src="./data/images/travels/sevenmile.mp4" type="video/mp4">
	</video>
	<p>Time lapse of the famous Seven Mile Bridge.</p>
</div>

<script src="./lib/jquery-2.1.3.min/index.js"></script>

<script src="./foundation/js/foundation.min.js"></script>
<script src="./foundation/js/foundation/foundation.orbit.js"></script>
<script src="./js/smooth-scroll.js"></script>

<script src="./js/script.js"></script>


<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
