<div class="medium-8 columns">
    <div class="row">
        <a class="button large" href="#/details/{{(filmId-1--films.length)%films.length}}"> < </a>
        <a class="button large" href="#/details/{{(filmId--1)%films.length}}"> > </a>
    </div>
    <div class="row">
        <h1>{{films[filmId].title}}</h1>
        <p>Rank: {{films[filmId].rank}}</p>
    </div>
    <div class="panel">
        <div class="row">
            <div class="medium-3 columns">
                <img ng-src="./data/images/{{films[filmId].imdbID}}.jpg">
            </div>
            <div class="medium-9 columns">
                <p>{{films[filmId].plot}}</p>
                <p>Released: {{films[filmId].released}}</p>
                <p>Runtime: {{films[filmId].runtime}}</p>
                <p>Awards: {{films[filmId].awards}}</p>
            </div>
        </div>
    </div>
</div>