<div class="large-12 columns">

    <ul class="button-group">
        <li>
            <button class="button" ng-click="selectedGenre = ''">All</button>
        </li>
        <li ng-repeat="genre in genres">
            <button class="button" ng-click="$parent.selectedGenre = genre">{{genre}}</button>
        </li>
    </ul>
    <div class="row">
        <ul class="large-block-grid-6">
            <li ng-repeat="film in films | filter:{genre: selectedGenre}">
                <a class="th" href="#/details/{{film.index}}">
                    <img ng-src="./data/images/{{film.imdbID}}.jpg">
                </a>
            </li>
        </ul>
    </div>
</div>