<div class="large-8 large-offset-2 columns">
    <div class="row">
        <div class="panel">
            <input type="text" class="text" ng-model="query">
            <select ng-model="ordering">
                <option value="title">Title</option>
                <option value="rank">Rank</option>
            </select>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="descending" ng-value="false">
                    Ascending
                </label>
                <label>
                    <input type="radio" ng-model="descending" ng-value="true">
                    Descending
                </label>
            </div>
        </div>
    </div>
    <ul ng-repeat="film in films | filter:query | orderBy:ordering:descending">

        <li>
            <a  href="#/details/{{film.index}}">
                <div class="panel">
                    <div class="row">
                        <div class="large-3 columns">
                            <img ng-src="./data/images/{{film.imdbID}}.jpg" style="height: 100px">
                        </div>
                        <div class="large-9 columns">
                            <h3>{{film.title}}</h3>
                            <p>Rank: {{film.rank}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>


